@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --boxColor: #ff7e43;
    --boxHigh: #ff9361;
    --backgroundColor: #f7ffda;
    --aniduration: 4s;
}

body{
    font-family: "Raleway";
    margin: 0px;
    height: 2000px;
}

.container {
    background-color: var(--backgroundColor);

    min-height: 550px;
    height: 100vh;
    min-width: 500px;
    width: 100vw;
    display: grid;
    grid-template-columns: 10% 15% 25% 25% 12.5% 6.25% 6.25%;
    grid-template-rows: 17% 3% 20% 20% 17% 3% 20%;
}

.titel {
    display: grid;
    grid-column: 1/5;
    grid-row: 4/5;
    font-weight: 800;
    font-size: 6vw;

    margin-bottom: 5px;
    z-index: 0;

    animation-duration: var(--aniduration);
    animation-iteration-count: infinite;
    animation-timing-function: ease ;
}
.beethovens {
    animation-name: updownbeethovens;
}
.neunte {
    animation-name: updownneunte;
}

.b1 {
    background-color: var(--boxColor);
    border: 1px solid var(--backgroundColor);
    transition: background-color 0.1s;

    grid-column: 1/4;
    grid-row: 1/5;
    z-index: 1;
    
    animation-name: updown1;
    animation-duration: var(--aniduration);
    animation-iteration-count: infinite;
}
.b1:hover {
    background-color: var(--boxHigh);
}
.b2 {
    background-color: var(--boxColor);
    border: 1px solid var(--backgroundColor);
    transition: background-color 0.1s;
    font-size: 0pt;
    text-align: center;
    transition: 0.1s;
    
    grid-column: 4/5;
    grid-row: 3/7;
    z-index: 1;

    animation-name: updown2;
    animation-duration: var(--aniduration);
    animation-iteration-count: infinite;
} 
.b2:hover {
    background-color: var(--boxHigh);
    transition: 0.1s;
    font-size: 12pt;
}
.b3 {
    background-color: var(--boxColor);
    border: 1px solid var(--backgroundColor);
    transition: background-color 0.1s;
    font-size: 0pt;
    text-align: center;
    transition: 0.1s;
    
    grid-column: 5/6;
    grid-row: 4/8;

    animation-name: updown3;
    animation-duration: var(--aniduration);
    animation-iteration-count: infinite;
}
.b3:hover {
    background-color: var(--boxHigh);
    transition: 0.1s;
    font-size: 12pt;
}
.b4 {
    background-color: var(--boxColor);
    border: 1px solid var(--backgroundColor);
    transition: background-color 0.1s;
    font-size: 0pt;
    text-align: center;
    transition: 0.1s;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding-right: 1.5vw;

    transition: 0.1s;
    
    grid-column: 6/7;
    grid-row: 2/6;

    animation-name: updown4;
    animation-duration: var(--aniduration);
    animation-iteration-count: infinite;
}
.b4:hover {
    background-color: var(--boxHigh);
    transition: 0.1s;
    font-size: 12pt;
}
.b5 {
    background-color: var(--boxColor);
    border: 1px solid var(--backgroundColor);
    transition: background-color 0.1s;
    font-size: 0pt;
    text-align: center;
    transition: 0.1s;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding-right: 1.5vw;
    
    grid-column: 7/8;
    grid-row: 1/5;

    animation-name: updown5;
    animation-duration: var(--aniduration);
    animation-iteration-count: infinite;
}
.b5:hover {
    background-color: var(--boxHigh);
    transition: 0.1s;
    font-size: 12pt;
}

.vn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

.vornamen {
    display: grid;
    grid-column: 2/3;
    grid-row: 4/5;
    z-index: 2;
    
}

.nn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

.nachnamen {
    display: grid;
    grid-column: 3/4;
    grid-row: 4/5;
    z-index: 2;
    font-weight: 800;
}


/*
.anlass {
    display: grid;
    grid-column: 3/5;
    grid-row: 7;
    font-size: 8pt;
    font-weight: 600;
    align-self: flex-start;
    margin-top: 15px;

}*/

@media only screen and (min-height: 550px) {

    .vornamen {
        display: grid;
        grid-column: 2/3;
        grid-row: 4/5;
        z-index: 2;
    }

@keyframes updown1 {
    0% {
        translate: 0px 0px;
    }
    50% {
        translate: 0px 40vh;
    }
    100% {
        translate: 0px 0px;
    }
}
@keyframes updown2 {
    0% {
        translate: 0px 0px;
    }
    25% {
        translate: 0px -20vh;
    }
    75% {
        translate: 0px 20vh;
    }
    100% {
        translate: 0px 0px;
    }
}
@keyframes updown3 {
    0% {
        translate: 0px 0px;
    }
    50% {
        translate: 0px -40vh;
    }
    100% {
        translate: 0px 0px;
    }
}
@keyframes updown4 {
    0% {
        translate: 0px 0px;
    }
    25% {
        translate: 0px 22.5vh;
    }
    75% {
        translate: 0px -17vh;
    }
    100% {
        translate: 0px 0px;
    }
}
@keyframes updown5 {
    0% {
        translate: 0px 0px;
    }
    50% {
        translate: 0px 40vh;
    }
    100% {
        translate: 0px 0px;
    }
}

@media only screen and (min-width: 400px) {
    @keyframes updownbeethovens {
        0% {
            translate: 2vh 0vh;
        }
        50% {
            translate: 2vh -25vh;
        }
        100% {
            translate: 2vh 0vh;
        }
    }
    @keyframes updownneunte {
        0% {
            translate: 2vh 25vh;
        }
        50% {
            translate: 2vh 0vh;
        }
        100% {
            translate: 2vh 25vh;
        }
    }
}

@media only screen and (min-width: 530px) {
    .katharina::after{
        content: "arina";
    }
}

}

.sticky {
    position: fixed;
    top: 0;
    animation-play-state: paused;
}